input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.35px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
  background: #777;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2.9px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #c40000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.35px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #777;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7.3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(13, 13, 13, 0.03);
  background: #777;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 2.9px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: #c40000;
  cursor: pointer;
}

